<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/styling.css">

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: blueviolet;">Portfolio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="index.html">Home</a>
              <a class="nav-link" href="About.html">About</a>
              <a class="nav-link" href="contact.html">Contact-Us</a>
              <a class="nav-link">Find</a>
            </div>
          </div>
        </div>
      </nav> 

    <div class="container">
        <div class="intro">
            <div class="row">
                <div class="col-md-6">
            <h1>Hello,
                <span class="content"></span>
            </h1>
                    <br><br><br><br>
            <p>Welcome to my portfolio</p>
           
            <script>
                var type = new Typed(".content",{
                    strings:[ "I'm","Emily","A","Web","Developer"]

                })
            </script>


        </div>
        <div class="col-md-6">
         <img src="new/intro.jpg" alt="">

        </div>

    </div>
</div>
    </div>
    <br><br>


</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</html>



